@charset "utf-8";
.taoplus {
	border-left: 1px solid transparent;
	left: 8px;
	padding-left: 10px;
	z-index: 99;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translate3d(0, 0, 0);
	position: fixed;
	bottom: 8px;
}
.taoplus .tpbtn, .taoplus .icontao, .taoplus .iconlogis, .taoplus .iconww, .taoplus .iconcar, .taoplus .tpicons, .taoplus .cart span {
	background: url(../img/sprite1.png) no-repeat;
	background-size: 195px 274px
}
.taoplus .more .bg, .taoplus .logis .bg, .taoplus .ww .bg, .taoplus .individ .bg, .taoplus .car .bg, .taoplus .search12 .bg, .taoplus .tplogo .bg {
	background: url(../img/sprite2.png) no-repeat;
	background-size: 216px 212.5px
}
.taoplus .tpbtn {
	position: relative;
	width: 54px;
	height: 54px;
	text-align: center; 
	font-size: 14px; 
	line-height:54px; 
	font-family: "微软雅黑";
	color:#ffffff;	
}
.taoplus .tpbtn.on {
	background-position: 0px -197px
}
.taoplus .tpbtn.off {
	background-position: -55.2px -197px
}
.taoplus .tpbtn.off .num {
	display: none
}
.taoplus .circle {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 195px;
	height: 195px;
	overflow: hidden;
	-webkit-transition: all linear .15s
}
.taoplus .circle.show {
	opacity: 1;
	-webkit-transform: translate(0px, 0) scale(1);
	pointer-events: auto
}
.taoplus .circle.hide {
	opacity: 0;
	-webkit-transform: translate(-100px, 100px) scale(0.2);
	pointer-events: none
}
.taoplus .tpicons {
	position: absolute;
	right: 0;
	top: 0;
	width: 195px;
	height: 195px;
	overflow: hidden
}
.taoplus .tpicons ul li {
	position: absolute;
}
.taoplus .tpicons a {
	display: inline-block;
	position: absolute;
	width: 40px;
	height: 30px
}
.taoplus .tpicons a .num {
	position: absolute;
	width: 15px;
	height: 15px;
font-size:.86rem;
	text-align: center;
	background: #f40;
	color: #fff;
	border-radius: 200px;
	-webkit-border-radius: 200px
}
.taoplus .tpicons a+.bg {
	display: block;
	height: 100%;
	background-position: -100px 100px
}
.taoplus .tpicons .more {
	right: 22px;
	bottom: 9px;
	width: 76px;
	height: 64px
}
.taoplus .tpicons .more a {
	top: 20px;
	left: 10px
}
.taoplus .tpicons .more a:hover+.bg {
	background-position: 0 0
}
.taoplus .tpicons .logis {
	left: 22px;
	bottom: 10px;
	width: 78px;
	height: 63px
}
.taoplus .tpicons .logis a {
	top: 20px;
	left: 30px
}
.taoplus .tpicons .logis a .num {
	top: -3px;
	left: -8px
}
.taoplus .tpicons .logis a:hover+.bg {
	background-position: -80px 0
}
.taoplus .tpicons .ww {
	left: 9px;
	top: 54px;
	width: 51px;
	height: 91px
}
.taoplus .tpicons .ww a {
	top: 30px;
	left: 0
}
.taoplus .tpicons .ww a .num {
	top: 0;
	left: 8px
}
.taoplus .tpicons .ww a:hover+.bg {
	background-position: -165px 0
}
.taoplus .tpicons .individ {
	left: 20px;
	top: 10px;
	width: 79px;
	height: 67.5px
}
.taoplus .tpicons .individ a {
	top: 15px;
	left: 25px
}
.taoplus .tpicons .individ a:hover+.bg {
	background-position: 0 -67.5px
}
.taoplus .tpicons .car {
	right: 20px;
	top: 10px;
	width: 77px;
	height: 69px
}
.taoplus .tpicons .car a {
	top: 15px;
	left: 15px
}
.taoplus .tpicons .car a .num {
	top: 0;
	left: 18px
}
.taoplus .tpicons .car a:hover+.bg {
	background-position: 0 -140px
}
.taoplus .tpicons .search12 {
	right: 10px;
	top: 56px;
	width: 51px;
	height: 91px
}
.taoplus .tpicons .search12 a {
	top: 25px;
	left: 10px;
	z-index: 99
}
.taoplus .tpicons .search12 a:hover+.bg {
	background-position: -165px -95px
}
.taoplus .tplogo {
	position: absolute;
	left: 58px;
	top: 58px;
	width: 81px;
	height: 82px
}
.taoplus .tplogo a {
	position: absolute;
	left: 15px;
	top: 15px;
	display: block;
	width: 50px;
	height: 50px;
	background-position: -100px 100px;
	text-indent: -999px;
	z-index: 1
}
.taoplus .tplogo a+.bg {
	position: absolute;
	width: 82px;
	height: 82px;
	left: 0;
	top: 0;
	background-position: -100px 100px;
	z-index: 0
}
.taoplus .tplogo a:hover+.bg {
	background-position: -84px -67px
}
