<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <td>编号</td>
        <td>名称</td>
        <td>图片</td>
        <td>标题1</td>
        <td>标题2</td>
        <td>标题3</td>
        <td>编辑</td>
    </tr>

    {foreach from=$list item=media_item}
    <tr>
        <td>{$media_item.id}</td>
        <td>{$media_item.name}</td>
        <td>{$media_item.img_link}</td>
        <td>{$media_item.title1}</td>
        <td>{$media_item.title2}</td>
        <td>{$media_item.title3}</td>
        <td>
            <a href="media.php?act=modify&id={$media_item.id}">修改</a>
            /
            <a href="media.php?act=delete&id={$media_item.id}">删除</a>
        </td>
    </tr>
    {/foreach}

</table>
</body>
</html>